.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.support{
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 16px;
}
.container {
  display: flex;
}
/* .sidebar,
.enter {
    width: 48%;
} */
body {
  margin: 0;
  background-color: rgba(209, 209, 209, 1);
}
@media (min-width: 1276px) and (max-width: 1920px) {
  :root {
      --right-column-width: 25vw;
      --max-width: 20rem;
  }
}
@media (min-width: 1276px) {
  .MessageList .messages-container {
      width: calc(100% - var(--right-column-width));
  }
}
