#mark{
    max-width: 100px;
    flex: 1;
    min-width: 50px;
    display: flex;
    justify-content: center;
}
#nacGrade{
    max-width: 100px;
    flex: 1;
    min-width: 50px;
    display: flex;
    justify-content: center;
}
#ects{
    max-width: 100px;
    flex: 1;
    min-width: 50px;
    display: flex;
    justify-content: center;
}