.header {
    font-family: "Montserrat";
    font-weight: 450;
    margin: 0;
    background-color: rgba(159, 28, 32, 1);
}
.masthead{
    height: 100px;
    padding: 0 16px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logotip {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.icons{
    min-width: 225px;
    align-items: center;
    justify-content: flex-end;
    flex: none;
    display: flex;
    flex-direction: row;
}
.message, .user_profile, .setting{
    width: 40px;
    height: 40px;
    padding: 1px 6px;
}