.hello {
    margin: 40px 50px;
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: "Montserrat";
    font-weight: 450;
    background-color: rgba(159, 28, 32, 1);
    justify-content: space-between;
}
#hello {
    padding: 10px 20px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    gap: 40px;

}
.profile_nav {
    flex: 1; /* Блок занимает все доступное пространство внутри контейнера */
    min-width: 190px; /* Минимальная ширина */
    min-height: 190px; /* Минимальная высота */
    background-color: rgba(159, 28, 32, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
    color: white;
  }
  
#profile {
    width: 120px;
    height: 120px;
}
#message {
    width: 120px;
    height: 120px;
}
#calendar {
    width: 120px;
    height: 120px;
}
#gradebook {
    width: 120px;
    height: 120px;
}
#borg {
    width: 120px;
    height: 120px;
}
#raiting {
    width: 120px;
    height: 120px;
}
