.chat {
    margin: 0px 50px;
    height: 40rem;

    background-color: rgba(159, 28, 32, 1);
    color: white;
    font-family: "Montserrat";
    font-weight: 450;
    font-size: 10px;
    gap: 0px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
}

.LeftColumb{
    --left-column-min-width: 16rem;
    --left-column-max-width: 26.5rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-width: var(--left-column-min-width);
    max-width: var(--left-column-max-width);
}
.LeftColumbMain{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.left-header{
    position: relative;
    --header-height: 2rem;
    height: var(--header-height);
    padding: .9rem .8125rem .5rem .8125rem;
    display: flex;
    align-items: center;
}
.SearchInput{
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 6.5px 10px;
}

.LeftMain{
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
  overflow: auto;
}

.ChatFolders{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.TransitionLeft{
    position: relative;
    width: 100%;
    height: 100%;
}

.Transition_slide{
    width: 100%;
    height: 100%;
    animation-fill-mode: forwards !important;
}

.chat-list{
    height: 100%;
    padding-inline-end: calc(.4375rem - 10px);
    overflow-x: hidden;
    overflow-y: scroll;
}
.ListItem{
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    -webkit-touch-callout: none;
}

/* .last_message {
    background-color: rgba(159, 28, 32, 1);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 440px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */

.left_message{
    display: flex;
    align-items: center;
}
.mini_ava {
    position: static;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 7px;
    object-fit: cover; 
}
.info_message{
    display: grid;
    flex-grow: 1;
    margin-right: 7px;
}
.name_user{
    display: flex;
    justify-content: space-between;
}
.time_message{
    color: rgba(255, 255, 255, 0.7);
}
.message_user{
    color: rgba(255, 255, 255, 0.7);
}


.search_message{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 15px 25px;
    padding: 6.5px 10px;

}
#chat_now{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.chat_now {
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}
.message_board{
    display: flex;
    align-items: flex-end;
    position: relative;

    background-color: rgba(159, 28, 32, 1);
    height: 40px;
    
}
.RightMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.MiddleHeader{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: .25rem;
    padding-bottom: .25rem;
    height: 3.5rem;
    background-color: rgba(159, 28, 32, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.Transition{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.MessageList{
    width: 100%;
    margin-bottom: .5rem;
    /* overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    transition: scrollbar-color .3s ease;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto; */
    overflow-x: hidden;
}
.textcontent{
    margin:0;
    word-break: break-word;
    text-align: initial;
    display: block;
    position: relative;
    max-width: var(--max-width);
}
.MessageTitle{
    display: flex;
    font-weight: 550;
}
.MessageTitleName{
    display: flex;
    align-items: center;
}
.MessageElement{
    background: rgba(159, 28, 32, 1);
    padding: .3125rem .5rem .375rem;
    border-radius: 10px;
    max-width: var(--max-width);
}
.MessageMeta{
    position: relative;
    top: .375rem;
    bottom: auto !important;
    float: right;
    line-height: 1.35;
    height: calc(var(--message-meta-height, 1rem));
    margin-left: .4375rem;
    margin-right: .375rem;
}
.MessageContainer{
    position: relative;
    max-width: 29rem;
    display: flex;
    width: calc(100% - var(--right-column-width));
    margin: 0 auto;
    
    padding:5px;
}
#getmessage{
    justify-content: flex-start;
}
#sendmessage{
    justify-content: flex-end;
}
.MessageFooter{
    padding-bottom: 0;
    background: rgba(159, 28, 32, 1);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
.Composer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.Wrapper{
    flex-grow: 1;
    max-width: calc(100% - 4rem);
    background: var(--color-background);
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 2px var(--color-default-shadow);
    border-radius: var(--border-radius-messages);
    border-bottom-right-radius: 0;
}
.MessageInput{
    position: relative;
    align-items: center;
    display: flex;
}
#MessageInputText{
    flex-grow: 1;
}

.custom-scroll{
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    transition: scrollbar-color .3s ease;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;

}
.input-scroller{
    max-height: 26rem;
}
.input-scroller>.input-scroller-content {
    position: relative;
}
.input-scroller.overflown{
    overflow-y: auto;
}

.custom-scroll:hover {
    scrollbar-color: rgba(255, 255, 255, 0.7) rgba(159, 28, 32, 1);
}
  


.message_input{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-weight: 450;
    font-size: 10px;
    width: 100%;
    min-width: 0;
}
.message_input::placeholder{
    color: rgba(209, 209, 209, 0.5);
    font-family: "Montserrat";
    font-weight: 450;
    font-size: 10px;
}
.form-control {
    outline: none;
    word-break: break-word;
    line-height: 1.25rem;
}

#editable-message-text{
    width: 100%;
    min-height: 20px;
    outline: none;
    border: none;
}

.placeholder-text{
    position: absolute;
    color: #999;
    pointer-events: none;
    top: 20%;
}

#FileAdd{
    height: 40px;
    width: 40px;
}
#Send{
    height: 40px;
    width: 40px;
}